.container{
    max-width: 450px;
    margin: 0 auto;
    padding: 10px 30px;
    background-color: #ccc;
    box-shadow: 5px 5px 10px;
}
.font-chu{
    font-variant: small-caps;
    font-size: 15px;
    font-weight: bold;
}
.form-group{
    margin: 10px 2px;
}
.form-control{
    margin: 10px 2px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    width: 450px;
    color: orchid;
    display: block;
    outline: none;
}
.form-control:focus{
    box-shadow: 0 0 4px orangered;
    color: blue;
}
.form-button{
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 3px greenyellow;
    outline: none;
    padding: 5px 10px;
}
.form-button:focus{
    box-shadow: 0 0 4px orangered;
    color: orangered;
}